.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: var(--bg-color);
}

.weather-widget {
    min-width: 1000px;
    min-height: 600px;
    margin-block-start: 180px;
    background-color: var(--main-bg-color);
    border-radius: var(--border-radius);
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 55px;
    min-height: 100px;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    background-color: var(--header-bg-color);
}

.title {
    font-family: var(--font-family), sans-serif;
    font-size: clamp(1.25rem, 0.8099rem + 1.8779vw, 2.5rem);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.date {
    font-size: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
}

.weather-data-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: clamp(22.5rem, 3.286vw + 21.73rem, 24.688rem);
    min-height: 385px;
    margin-block: 50px;
    border-radius: var(--border-radius);
    background-color: var(--block-bg-color);
    padding-block: 25px;
    padding-inline: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.location-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 20px;
}

.city {
    font-size: clamp(2.25rem, 2.118rem + 0.5634vw, 2.625rem);
}

.time {
    font-size: 32px;
}

.weather-data {
    display: flex;
    justify-content: space-between;
}

.weather-info {
    font-size: 40px;
    line-height: 32px;
}

.weather-image-container {
    max-width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-stat-item {
    min-height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-image-list {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.weather-stat-value {
    font-size: 32px;
}

.weather-list {
    display: flex;
    flex-direction: column;
    gap: 22px
}

.weather-list-item {
    display: flex;
    align-items: center;
    background-color: var(--block-bg-color);
    gap: 20px;
    border-radius: 10px;
    padding-inline: 15px;
    font-size: 36px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.footer-text {
    color: #FFFFFF;
    font-size: 20px;
}

input {
    border: none;
    height: 44px;
    width: 252px;
    border-left: solid 20px transparent;
    border-radius: var(--border-radius);
    font-family: var(--font-family);
    font-size: clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

input:active {
    outline: none;
}

input:focus {
    outline: none;
}

@media (width >= 375px) {
    .weather-widget {
        min-width: 100vw;
        min-height: auto;
        margin-block-start: 0;
        border-radius: 0;
        box-shadow: none;
    }
    .body {
        background-color: var(--main-bg-color);
        margin: 0;
        gap: 10px;
        padding: 0;    
    }

    .weather-data-container {
        flex-direction: column;
        margin: 0;
        min-height: auto;
        gap: 14px;
    }

    .header {
        justify-content: center;
        gap: 93px;
        border-radius: 0;
        background-color: var(--main-bg-color);
        padding: 0;
        min-height: 41px;
    }
    .main {
        flex-direction: column;
        gap: 10px;
    }

    .weather-list {
        gap: 20px;
    }

    input {
        max-width: 160px;
        height: 27px;
        background-color: var(--header-bg-color);
    }

    .weather-stats {
        display: none;
    }

    .weather-list-item {
        min-height: 56px;
    }

    .weather-image {
        width: 60px;
        height: auto;
    }

    .location-info-container {
        margin: 0;
    }
}

@media (width >= 1440px) {
    .body {
        gap: 50px;
        background-color: var(--bg-color);
    }

    .weather-widget {
        min-width: 1000px;
        min-height: 600px;
        margin-block-start: 180px;
        background-color: var(--main-bg-color);
        border-radius: var(--border-radius);
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 55px;
        min-height: 100px;
        border-top-right-radius: var(--border-radius);
        border-top-left-radius: var(--border-radius);
        background-color: var(--header-bg-color);
    }

    .title {
        font-family: var(--font-family), sans-serif;
        font-size: clamp(1.25rem, 0.8099rem + 1.8779vw, 2.5rem);
    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        flex-direction: row;
    }

    .date {
        font-size: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
    }

    .weather-data-container {
        display: flex;
        flex-direction: column;
        gap: 25px;
        min-width: 395px;
        min-height: 385px;
        margin-block: 50px;
        border-radius: var(--border-radius);
        background-color: var(--block-bg-color);
        padding-block: 25px;
        padding-inline: 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    .location-info-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block-end: 20px;
    }

    .city {
        font-size: clamp(2.25rem, 2.118rem + 0.5634vw, 2.625rem);
    }

    .time {
        font-size: 32px;
    }

    .weather-data {
        display: flex;
        justify-content: space-between;
    }

    .weather-image {
        width: 108px;
        height: auto;
    }

    .weather-info {
        font-size: 40px;
        line-height: 32px;
    }

    .weather-image-container {
        max-width: 135px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .weather-stats {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .weather-stat-item {
        min-height: 55px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .weather-image-list {
        width: 28px;
        height: 28px;
        object-fit: contain;
    }

    .weather-stat-value {
        font-size: 32px;
    }

    .weather-list {
        display: flex;
        flex-direction: column;
        gap: 10px
    }

    .weather-list-item {
        display: flex;
        align-items: center;
        background-color: var(--block-bg-color);
        gap: 20px;
        border-radius: 10px;
        padding-inline: 15px;
        font-size: 36px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    .footer-text {
        color: #FFFFFF;
        font-size: 20px;
    }

    input {
        border: none;
        min-height: 44px;
        min-width: 252px;
        border-left: solid 20px transparent;
        background-color: var(--block-bg-color);
    }
}

